.app[data-v-5a6af47b]{padding:15px}.app uni-input[data-v-5a6af47b]{height:46px;border:solid 1px #DDDDDD;border-radius:5px;margin-bottom:15px;padding:0 15px}.app uni-button[data-v-5a6af47b]{margin-bottom:15px}
